@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: white;
	font-family: 'Arial';
	background-color: #37006f;
	vertical-align: middle;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #555;
	display: inline-block;
}

h1 {
	font-size: 40px;

}

h1 {
	font-weight: normal;
}



h4 {
	min-height: 25px;
}



.header h3{
	font-style: italic;
	font-weight: bold;
	font-size: 35px;
	
}
.header td{
	background-color: #337ab7;
   
}
.header{
	vertical-align: middle;
	
	
}

td{
	border-color: white;
	border-width: 2px;
	border-style:solid; 
}

.selectList, .button {
	padding: 15px;
	display: inline-block;
}